.App {
  text-align: center;
  font-weight: bold;
  border: rgb(241, 132, 132) solid 3px;
  background-color: rgb(240, 232, 232);
  margin: 150px;
}
.p1{
  font-weight: bold;
  font-size: 20px;
  color: rgb(194, 25, 209);
}
.b1{
  color: rgba(0, 5, 5, 0.87);
  background-color: rgb(188, 176, 201);
  font-family: cursive;
}
.Todo span{
  margin: 0 10px 0 10px;
}

.Add{
  border: rgb(89, 102, 90) solid 3px;

}
.Todo {
  text-align: center;
  border: rgb(102, 89, 101) solid 3px;
  font-size: 18;
  font-style: normal;
  font-family: cursive;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
